<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Day02.Code.mapper.CardMapper">
    <resultMap id="oneToOne" type="Card">
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <association property="person" javaType="Person">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="oneToOne">
        select c.id, c.number, p.id, p.NAME, p.age
            from card as c,
                person as p
            where c.pid = p.id;
    </select>


</mapper>